@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

body{
    background-color: #4685af;
    background-color: #533D3C;
    background-color: #976964;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23754841' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    font-family: Poppins, sans-serif;
    color:black;

}
nav.controls {
    a:is(:link, :visited) {
        border-radius: 50px;
        display:block;
        background-color: #0009;
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 10px;
        width: 40px;
        transition: all 0.1s ease-in;
    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    }

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            color:black;
            text-align: center;
            margin: 0;
        }
        h1 {
            font-size: 4rem;
            font-weight: 300;
        }
        h2 {
            font-size: 1.4rem;
            font-weight: 300;

        }
        h3{
            border-radius: 20px;
            background-color:#0009;
            color: white;
            padding: 2px 12px;
            font-size: 1rem;
            font-weight: 500;


        }
        img{
            border-radius: 90%;
            width: 170px;
            border: 5px solid rgb(0, 0, 0);
        }
    }
}

menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;



    a:is(:link, :visited) {
        background-color:aliceblue;
        border-radius: 50px;
        display: flex;
        color: #000000
        ;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        width: 280px;

        i {
            background-color:cornflowerblue;
            border-radius: 20px;
            color: black;
            font-style: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5 ease-in;
            height: 34px;
            width: 34px;
        
        }
    }
    
    a:is(:hover) {
        transform: scale(1.4) translate(-10PX);
        background-color: #000c;
    }

    a:is(:hover) i{
        transform: scale(1.4) rotatex(360deg);

    }
}    
section {
    border-radius: 10px;
    background-color: #fff9;
    color: #0009;
    padding: 10px;
    width: 400px;
    h3 {
        border-bottom: 2px dotted #0004;
        color: #0006;
        font-size: 1.6 rem;
        margin: 0;
        width: fit-content;
    }
    p{
        font-size: 1.8rem;
        margin: 10px 0;
    }
    xmp {
        border-radius: 10px;
        background-color: #0009;
        color: #ffff;
        padding: 0 10px 10px 10px;
    }
}